*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(229, 50, 112);
    font-weight: bolder;
    text-align: center;
    padding: 20px;
    font-size: 45px;
}

section{
    padding: 30px;
    text-align: center;
}

img{
    float: left;
    height: 100px;
}

.clearfix {
    overflow: auto;
  }

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    margin: auto;
    width: 1200px;
}

.box{
    float: left;
    width: calc((100% / 3) - (90px / 3));
    background-color: rgb(15, 14, 24);
    box-shadow: 10px 6px 11px #888888;
}

.box:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 30px;
  }

.info-team{
    text-align: initial;
    float: left;
    padding: 5px 10px;
}


.info-team>div{
    color: white;
    padding: 6px 0px;

}

div>a{
    text-decoration: none;
    color: rgb(86, 190, 218);
}